<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <article class="demo-card-wide mdl-card mdl-shadow--2dp">
          <header class="mdl-card__title">
            <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
          </header>
    
          <form autocomplete="off" class="mdl-card__supporting-text"
          [formGroup]="formLogin" (submit)="logar()">

            <cmail-form-group [campo]="formLogin.get('email')"> 
                <input
                    formControlName="email"
                    cmailFormField
                    type="text"
                    name="email"
                    placeholder="Email"
                />
            </cmail-form-group>
        
            <cmail-form-group [campo]="formLogin.get('senha')"> 
                <input
                    formControlName="senha"
                    cmailFormField
                    type="password"
                    name="senha"
                    placeholder="Senha"
                />
            </cmail-form-group>
    
            <div class="mdl-card__actions mdl-card--border">
              <a routerLink="cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Primeiro login? Cadastre-se!
              </a>
              <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
                Entrar
              </button>
            </div>
          </form>
    
        </article>
      </div>
    </div>
    </main>
    </div>